$font: "Karla", sans-serif;
$primary-color: #fff;
$background-color: rgb(224, 175, 175);

$medium: 900px;
$large: 1500px;

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: $font;
    color: $primary-color;
}